<div style="padding-top: 15px;"> 

    <div style="padding-top: 20px;padding-bottom: 20px;">
        <app-quotes></app-quotes>
    </div>
<div class="row">
    <div class="col-3">
            <div class="col-12">
                    <label>2021 JANUARY</label>
            </div>
            <app-datepickermonth></app-datepickermonth>                            
      
      
    </div>
    <div class="col-9">
        <form>
            <div class="row">

                <div class="col-6">
    
                    <div class="form-group">
                            <label for="FormControlTextareaThisMonthsPriority">THIS MONTH'S PRIORITY</label>
                            <textarea class="form-control" id="FormControlTextareaThisMonthsPriority" rows="8"></textarea>
                    </div>
                </div>
    
                <div class="col-6">
    
                        <div class="form-group">
                                <label for="FormControlTextareaThisMonthsBest">THIS MONTH'S BEST</label>
                                <textarea class="form-control" id="FormControlTextareaThisMonthsBest" rows="8"></textarea>
                        </div>
                </div>
            </div>     
            <div class="row">
    
                    <div class="col-6">
            
                        <div class="form-group">
                                <label for="FormControlTextareaThisMonthsProject">THIS MONTH'S PROJECTS</label>
                                <textarea class="form-control" id="FormControlTextareaThisMonthsProject" rows="8"></textarea>
                        </div>
                    </div>
            
                    <div class="col-6">
            
                            <div class="form-group">
                                    <label for="FormControlTextareaThisMonthsProud">I AM PROUD OF...</label>
                                    <textarea class="form-control" id="FormControlTextareaThisMonthsProud" rows="8"></textarea>
                            </div>
                    </div>
            </div>    
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                            <label for="FormControlTextareaThisMonthsNote">NOTES & INSPIRATION</label>
                            <textarea class="form-control" id="FormControlTextareaThisMonthsNote" rows="5"></textarea>                    
                    </div>
                </div>
            </div>       
        </form>
    </div>

</div>

</div>