<div style="padding-top: 15px;"> 

    <div style="padding-top: 20px;padding-bottom: 20px;">
        <app-quotes></app-quotes>
    </div>
<div class="row">
    <div class="col-3">
            <div class="col-12">
                    <label></label>
            </div>
            <app-datepickermonth (selectedDate)="onChangeDate($event)"></app-datepickermonth>                            
      
      
    </div>
    <div class="col-9">
        <form #formAgenda="ngForm" (ngSubmit)="onSubmit(formAgenda.value)">
            <div class="row">
                <div class="col-12">
                    <input type="hidden" name="id" [(ngModel)]="agendas.id"/>   
                </div>

                <div class="col-6">
    
                    <div class="form-group">
                            <label for="FormControlTextareaThisMonthsPriority">THIS MONTH'S PRIORITY</label>
                            <textarea class="form-control" id="FormControlTextareaThisMonthsPriority" rows="6" name="priorities" [(ngModel)]="agendas.priorities"></textarea>
                    </div>               

                </div>
    
                <div class="col-6">
    
                        <div class="form-group">
                                <label for="FormControlTextareaThisMonthsBest">THIS MONTH'S ACTIVITIES</label>
                                <textarea class="form-control" id="FormControlTextareaThisMonthsBest" rows="6" name="activities" [(ngModel)]="agendas.activities" ></textarea>
                        </div>
                </div>
            </div>     
            <div class="row">
    
                    <div class="col-6">
            
                        <div class="form-group">
                                <label for="FormControlTextareaThisMonthsProject">THIS MONTH'S PROJECTS</label>
                                <textarea class="form-control" id="FormControlTextareaThisMonthsProject" rows="6" name="projects" [(ngModel)]="agendas.projects"></textarea>
                        </div>
                    </div>
            
                    <div class="col-6">
            
                            <div class="form-group">
                                    <label for="FormControlTextareaThisMonthsProud">I AM PROUD OF...</label>
                                    <textarea class="form-control" id="FormControlTextareaThisMonthsProud" rows="6" name="prouds" [(ngModel)]="agendas.prouds"></textarea>
                            </div>
                    </div>
            </div>    
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                            <label for="FormControlTextareaThisMonthsNote">NOTES & INSPIRATION</label>
                            <textarea class="form-control" id="FormControlTextareaThisMonthsNote" rows="5"  name="notes" [(ngModel)]="agendas.notes"></textarea>                  
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!formAgenda.valid">Save</button>
                </div>
            </div>      
            <app-form-debug [form]="formAgenda"></app-form-debug>
        </form>
    </div>

</div>

</div>
